:root {
  --color-checked: rgb(33, 137, 247);
  --color-border: rgb(61, 63, 65);
}

html,
body {
  font-size: 20px;
  background-color: #eaeaea;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

* {
  box-sizing: border-box;
}

.paper {
  background-color: white;
  border: 1px solid #dadada;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 0px 5px 20px #c7c7c7;
}
